.logo-img{
    width: 5rem;
    border-radius: 45%;
    padding: 0px;
  }

  .landing-img{
      background: url('../../images/landing/home.jpg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
  }