body {
    color: #444;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
    background: url("../../images/login/login.jpg");
    background-repeat: no-repeat;  
    text-align: center;
    box-sizing: border-box;
    background-size: 100%;
}
.logo-img {
    width: 5rem;
    border-radius: 45%;
    padding: 0px;
}
header p{
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    font-family: '', sans-serif;
    text-align: center;
}
h2{
    color: #000;
    letter-spacing: 2px;
    font-size: 2rem;
}
#userName{
    color: #000;
    font-weight: bold;
    font-style: italic;
}
div.form-group{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px;
}
#copyButton{
    height:30px;
    background-image:url('../../images/copyCode.png');
    background-repeat: no-repeat;
    border: 1px;
}
#addTableContent img{
    width: 200px;
    height: 200px;
}
#addTableContent a:link {
    color: green;
}
#addTableContent p.card-ext {
    color: red;
}

#addTableContent a:hover {
    text-decoration: none;
    color: orange;
}
#addTableContent a:active {
    color: darkblue;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;
}
div.form-group:hover .tooltiptext {
    visibility: visible;
}

/*---Loader Related Start--*/
.loaderWebsites {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*---Loader Related Stop--*/

.card-title{
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}