body {
   color: #444;
   font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
    background: url("../../images/login/login.jpg");
    background-repeat: no-repeat;  
    text-align: center;
    box-sizing: border-box;
    background-size: 100%;
    }
 
    img {
        max-width: 100%;
        padding-bottom: 1em;
      }
      h1 {
        font-size: 2.9em;
        text-transform: capitalize;
        color: #fff;
        letter-spacing: 3px;
        margin: 0.8em 1vw 1.2em;
        font-family: 'Ubuntu Condensed', sans-serif;
      }
h2 span {
    display: block;
  }
 

.logo-img{
  width: 5rem;
  border-radius: 45%;
  padding: 0px;
}
.sr-login-form {
    max-width: 500px;
    margin: 2vw 5vw;
    padding: 5vw;
    border-width: 5px 0;
     display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.34);
  
    box-shadow: 3px 1px 3px 0px rgb(0, 0, 0);
  }

  p.login-text {
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.3em;
  }
.navbar-right ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) ;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 24px 0px;
    letter-spacing: 1px;
  }
 
.login-field-txt {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  margin-bottom: 1.5em;
}



h2.login-text {
  color: #fff;
  letter-spacing: 2px;
  font-size: 2rem;
}

.login-form div {
  position: relative;
}

.login-form input {
  border: none;
  width: 88%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
  line-height: 32px;
  padding: 5px 20px;
  margin-bottom: 20px;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  letter-spacing: 1px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.51);
}

.btn:hover,
.btn:focus {
  background-color: #FF5722;
  color: #fff;
  text-decoration: none;
}

.login-form .btn {
  font-size: 19px;
  line-height: 45px;
  border: none;
  width: 100%;
  font-weight: 100;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  background: #000;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  background: #FF5722;
}

.login-form .btn:hover {
  background-color: #000;
}

.login-form label {
  color: #000;
  position: absolute;
  top: 12px;
  left: 40px;
  letter-spacing: 1px;
  -webkit-transition: 0.28s;
  transition: 0.28s;
}

.login-form label span {
  color: #ffba00;
}

.login-form input:focus+label {
  left: -62px;
  font-size: 13px;
  color: #fff;
}

.login-form input:valid {
  border: 1px solid #161613;
}

.login-form input:valid+label {
  left: -62px;
  font-size: 12px;
  color: #fff;
}

.login-form input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid #d3362a;
}

.login-form input:invalid:not(:focus):not(:placeholder-shown)+label {
  left: -62px;
  font-size: 12px;
  color: #fff;
}
