/* 
Deployed AT: https://ebiz.netlify.com
*/
body, html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 500;
}

h2, h4,  h6 {
    font-weight: 700;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
}

.nav-header {
    background: rgba(0, 0, 0, 0.40);
}

.business-logo h1 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.business-logo h1 span {
    color: #3ec1d5;
}

.slider-button {
    border-radius: 30px;
}
.carousel-caption{
    bottom: 25%;
}

.learn {
    border: 1px solid;
    background: rgba(0, 0, 0, 0.80);
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.section-header {
    font-weight: 800;
}

.section-header::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 10%;
}

.about-list {
    list-style: none;
    padding:0;
}

.about-list li::before {
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #3ec1d5
}

.service .card, .portfolio-section .card, .news-card .card, .contact-card .card{
    border: 0;
}

#nav-tab a {
    color: #3ec1d5;
    margin-right: 5px;
    padding: 10px 20px;
    font-family: raleway;
    font-size: 18px;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 0 15px 15px;
    border-top:0; 
}

.subscribe-container {
    padding: 0;
    background-image: url(https://ebiz.netlify.com/images/background/bg1.jpg);
    background-repeat: no-repeat;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.80);
}

.jumbotron h1 {
    padding: 30px 40px;
}

#subscribeInput {
    border-radius: 48px 0px 0px 48px;
    height: 3rem;
}

#subscribeButton {
    border-radius: 0px 48px 48px 0px;
    background: #3ec1d5;
}
.portfolio .nav-link{
    border: 1px solid #000;
    background: transparent;
    border-radius: 48px;

}
.portfolio .nav-link.active{
    border: 1px solid transparent;
    color: #fff;
    background: #3ec1d5;


}
.price-card a{
    background: rgba(0, 0, 0, 0.40);
    color: white;
    border-radius: 48px;
}
.price-card a:hover{
    background: #3ec1d5;

}
.check, .cross{
    position: relative;
}
.check::after{
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 14px;
    float: right;
    color: #3EC1D5;
  
}
.cross::after{
    font-family: FontAwesome;
    content: "\f00d";
    font-size: 14px;
    float: right;
    color: red
}
.card{
    position: relative;
    overflow: hidden;
}
.sale{
    background: #3EC1D5 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    left: -26px;
    padding: 2px 25px;
    position: absolute;
    text-transform: uppercase;
    top: 16px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.news-card .read{
    border:1px solid #ccc;
    border-radius: 48px;
    
}
.news-card .read:hover{
    border:1px solid #ccc;
    border-radius: 48px;
    background: #3ec1d5;
    color: #fff;
}

.faq .btn-link{
    color: #3EC1D5;
}
.get-quate{
    background: #3ec1d5;
    color: #fff;
}
.round-border{
    border-radius: 48px;
}
.circle-icon{
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    line-height: 46px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer-contact-icons u{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-contact-icons ul li{
    display: inline-block;
}
.footer-contact-icons ul li a{
    color: #000;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
}
.footer-contact-icons ul li a:hover{
    background: #3ec1d5;
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 576px) {
    .nav-header {
        background: black;
    }
    #nav-tab a {
        margin-right: 0px;
    }
    .jumbotron h1 {
        font-size: 21px;
        padding-bottom: 3rem;
    }
    .jumbotron .lead {
        display: none;
    }
}
.credits{
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 15px 0;
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .nav-header {
        background: black;
    }
    #nav-tab a {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .jumbotron h1 {
        margin: 0px;
        padding: 70px 0px;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .nav-header {
        background: rgba(0, 0, 0, 0.40);
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}